<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://appservice12.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>appservice12.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>appservice12</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$appservice12</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Mystring" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:gymonedbmvc.database.windows.net,1433;Initial Catalog=GYMONEDBMVC;Persist Security Info=False;User ID=avinashmamidi9;Password=Avinash@1992;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:gymonedbmvc.database.windows.net,1433;Initial Catalog=GYMONEDBMVC;Persist Security Info=False;User ID=avinashmamidi9;Password=Avinash@1992;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sai-pc;Initial Catalog=GYMONEDBMVC1;User ID=sa;Password=Pass$123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Mystring_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sai-pc;Database=GYMONEDBMVC1;UID=sa;Password=Pass$123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Mystring-Web.config Connection String">
      <ParameterValue>Server=tcp:gymonedbmvc.database.windows.net,1433;Initial Catalog=GYMONEDBMVC;Persist Security Info=False;User ID=avinashmamidi9;Password=Avinash@1992;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>